<h2>Olá {{ admin.email }}</h2>

<p>vc solicitou uma recuperação de senha !</P>

<a href="{{ urlResetPassword }}">recuperar senha</a>

<p>Por favor click no link acima para ser redirecionado para a pagina.</P>
